@font-face {
    font-family:'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.svg') format('svg');font-weight:normal;font-style:normal
}

.admin__menu .item-convert.level-0 > a::before {
    content: "\e916";
    font-size: 2.4rem;
    padding-top: -0.3rem;
    font-family:'icomoon';
}