<?php
/** @var \Magento\Backend\Block\Template $block */
/** @var \Magento\Backend\Block\Widget\Button $button */
    $button = $block->getChildBlock('convert_currency_button');
?>
<label class="admin__control-label" for="price_in"><?=__("With")?></label>
<input class="input-text admin__control-text" type="text" placeholder="RUB" aria-describedby="notice-WHNU92V" name="price_in" id="price_in" maxlength="255">
<label class="admin__control-label" for="price_out"><?=__("To")?></label>
<input class="input-text admin__control-text disabled" type="text" placeholder="PLN" aria-describedby="notice-WHNU92V" name="price_out" id="price_out" maxlength="255" readonly>
<?= $button->getButtonHtml(__('Convert Now'), '', 'action-primary', 'convert-now-button', ['name' => 'name-convert-now-button'])?>

<script type="text/x-magento-init">
{
   "#convert-now-button": {
     "convertCurrencyMain": {"form_key": "<?= $block->getFormKey() ?>","url": "<?= $button->getUrl('wdro/converter_ajax/check'); ?>"}
   }
}
</script>
